In [1]:
import pandas as pd
m_store = pd.read_csv('C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter01/m_store.csv')
m_store

     store_id store_name area_cd
0           1      삼일대로점      SL
1           2      세종대로점      SL
2           3       무교로점      SL
3           4      덕수궁길점      SL
4           5      서소문로점      SL
..        ...        ...     ...
192       193       방죽로점      GB
193       194      일산동구점      GB
194       195       화중로점      GB
195       196       석봉로점      GB
196       999       보수담당      SL

[197 rows x 3 columns]

In [2]:
len(m_store)

197

In [4]:
m_area = pd.read_csv('C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter01/m_area.csv')
m_area

  area_cd wide_area narrow_area
0      SL        서울          서울
1      BS        부산          부산
2      DJ        대전          대전
3      GJ        광주          광주
4      SJ        세종          세종
5      GN        경기        경기남부
6      GB        경기        경기북부

In [8]:
tbl_order_4 = pd.read_csv('C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter01/tbl_order_202104.csv')
tbl_order_4.head()

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2

In [9]:
len(tbl_order_4)

233262

In [10]:
tbl_order_5 = pd.read_csv('C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter01/tbl_order_202105.csv')
tbl_order_5.head()

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,84536666,16,C09876770,89,98297032,2021-05-01 11:00,2021-05-01 11:23,0,32340,2
1,88276008,158,C68585017,98,7770950,2021-05-01 11:00,2021-05-01 11:27,0,38650,2
2,30853149,97,C47161470,20,70091383,2021-05-01 11:00,2021-05-01 11:51,0,28270,2
3,2266595,95,C61461123,22,42134845,2021-05-01 11:00,2021-05-01 11:39,0,23160,2
4,7086301,49,C01007474,99,69495399,2021-05-01 11:00,2021-05-01 11:37,0,19000,9

In [11]:
len(tbl_order_5)

241142

In [12]:
order_all = pd.concat([tbl_order_4, tbl_order_5], ignore_index = True)
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
474399,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
474400,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
474401,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
474402,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
474403,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

In [13]:
len(order_all)

474404

In [20]:
import os
current_dir = os.getcwd()
current_dir

'C:\\Users\\manci'

In [21]:
os.listdir(current_dir)

['.astropy',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.eclipse',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.matplotlib',
 '.p2',
 '.spyder-py3',
 '.vscode',
 '20173264(빅분기4회_작업형2).csv',
 '20173264(빅분기4회_작업형2-1).csv',
 '20173264.csv',
 '20173264.심성우(빅분기3회_작업형2)',
 '20173264.심성우(타이타닉).csv',
 '20173264_백화점예측결과.csv',
 '20173265.심성우(회귀버전).csv',
 '2022빅분기3회.csv',
 '3D Objects',
 '4회연습파일.csv',
 'anaconda3',
 'AppData',
 'Application Data',
 'apriori_result.csv',
 'Contacts',
 'Cookies',
 'data탐색과 정제1.ipynb',
 'DBSCAN(밀도기반).ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'eclipse-workspace',
 'Favorites',
 'Foxit Reader SDK ActiveX.ini',
 'hand_py.py',
 'housing_price.csv',
 'IntelGraphicsProfiles',
 'Jedi',
 'K- 최근접이웃법(KNN)분류or회귀.ipynb',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'm_area.csv',
 'm_store.csv',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pandas_기초(Getting&Knowing Data, Filtering&Soring).ipynb',
 'pandas_기초.ipynb',
 'pandas기본처리.ipynb',
 'Pictures',
 'PrintHood',
 'Recent',
 'Roaming',
 'Saved Games',
 'Searches',
 'SendTo',
 'SysWOW64',
 'T1-11.min_max상하위5%.ipynb',
 'T1-12.상위 10개, 하위 10개 차이.ipynb',
 'T1-14.2개 조건에 따른 상위값.ipynb',
 'T1-15.슬라이싱&조건.ipynb',
 'T1-16.분산.ipynb',
 'tbl_order_202104.csv',
 'tbl_order_202105.csv',
 'tbl_order_202106.csv',
 'Templates',
 'Untitled.ipynb',
 'Videos',
 '결측치 처리.ipynb',
 '군집분석.ipynb',
 '그냥해보는빅분기4회작업형2.ipynb',
 '나이브 베이즈.ipynb',
 '데이터정제(house_raw파일 선형회귀(linearRegression)).ipynb',
 '라쏘 회귀모델.ipynb',
 '랜덤포레스트.ipynb',
 '로지스틱회귀모델.ipynb',
 '릿지 회귀모델.ipynb',
 '머신러닝 프로세스1(범주변수의 변환)One-hot-encoding 변환.ipynb',
 '머신러닝 프로세스2(데이터셋 분할과 모델검증)K-fold.ipynb',
 '머신러닝 프로세스3(데이터 정규화).ipynb',
 '머신러닝 프로세스4,5(모델훈련과 세부튜닝).ipynb',
 '머신러닝 프로세스6(다중평가).ipynb',
 '머신러닝맛보기(분류문제-로지스틱회귀).ipynb',
 '머신러닝맛보기(회귀문제-LinearRegression).ipynb',
 '빅분기(타이타닉).ipynb',
 '빅분기3회_회귀버전.ipynb',
 '빅분기4회Seg만있는.csv',
 '빅분기4회둘다있는연습.csv',
 '빅분기4회실기.ipynb',
 '빅분기4회실기연습(segmentation만 있는 엑셀).csv',
 '빅분기4회실기연습.csv',
 '빅분기실기(백화점예측).ipynb',
 '빅분기실기여언습.ipynb',
 '빅분기실기작업형1연습.ipynb',
 '서포트벡터머신(SVM).ipynb',
 '선형회귀모델.ipynb',
 '시작 메뉴',
 '실전예제문제(2회실기).ipynb',
 '실전예제문제(3회실기).ipynb',
 '실전예제문제.ipynb',
 '앙상블 배깅.ipynb',
 '앙상블 부스팅.ipynb',
 '앙상블 스태킹.ipynb',
 '엘라스틱넷.ipynb',
 '연관규칙분석.ipynb',
 '의사결정나무.ipynb',
 '인공신경망.ipynb',
 '찐빅분기3회(작업형2).ipynb',
 '찐빅분기4회(작업형2).ipynb',
 '찐찐빅분기4회.ipynb',
 '투표기반 앙상블.ipynb',
 '학생성적예측(RF_R).ipynb']

In [22]:
tbl_order_file = os.path.join(current_dir, 'tbl_order_*.csv')
tbl_order_file

'C:\\Users\\manci\\tbl_order_*.csv'

In [23]:
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['C:\\Users\\manci\\tbl_order_202104.csv',
 'C:\\Users\\manci\\tbl_order_202105.csv',
 'C:\\Users\\manci\\tbl_order_202106.csv']

In [25]:
order_all = pd.DataFrame()
file = tbl_order_files[0]
order_data = pd.read_csv(file)
print(f'{file}:{len(order_data)}')
order_all = pd.concat([order_all, order_data], ignore_index = True)
order_all

C:\Users\manci\tbl_order_202104.csv:233262

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
233257,61665702,103,C51797758,48,77989403,2021-04-30 21:58,2021-04-30 22:36,0,35300,2
233258,31151690,119,C04883863,78,16130893,2021-04-30 21:58,2021-04-30 22:35,0,32340,2
233259,15955692,175,C87594637,96,11457934,2021-04-30 21:58,2021-04-30 22:32,0,36170,9
233260,73251339,145,C93839111,92,64743537,2021-04-30 21:58,2021-04-30 22:46,0,36170,2
233261,42442108,117,C44570215,54,2304995,2021-04-30 21:58,2021-04-30 22:37,1,18990,1

In [26]:
order_all = pd.DataFrame()
for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f'{file}:{len(order_data)}')
    order_all = pd.concat([order_all, order_data], ignore_index = True)

C:\Users\manci\tbl_order_202104.csv:233262
C:\Users\manci\tbl_order_202105.csv:241142
C:\Users\manci\tbl_order_202106.csv:233302

In [35]:
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
707701,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2
707702,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1
707703,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2
707704,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1
707705,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2

In [36]:
tbl_order_6 = pd.read_csv('C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter01/tbl_order_202106.csv')

In [37]:
len(order_all) == len(tbl_order_4) + len(tbl_order_5) + len(tbl_order_6)

True

In [38]:
order_all.isnull().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [39]:
order_all.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077060e+05,707706.000000,707706.000000,7.077060e+05,707706.000000,707706.000000,707706.000000
mean,5.000947e+07,103.935165,49.512375,5.000068e+07,0.259888,29606.465156,3.083026
std,2.889479e+07,86.373854,28.883382,2.885809e+07,0.438573,9543.733832,2.836336
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,6980.000000,1.000000
25%,2.501320e+07,51.000000,24.000000,2.503991e+07,0.000000,23080.000000,2.000000
50%,4.999599e+07,99.000000,49.000000,5.003862e+07,0.000000,28080.000000,2.000000
75%,7.508354e+07,148.000000,75.000000,7.499667e+07,1.000000,36170.000000,2.000000
max,9.999972e+07,999.000000,99.000000,9.999964e+07,1.000000,51000.000000,9.000000

In [40]:
order_all['total_amount'].describe()

count    707706.000000
mean      29606.465156
std        9543.733832
min        6980.000000
25%       23080.000000
50%       28080.000000
75%       36170.000000
max       51000.000000
Name: total_amount, dtype: float64

In [43]:
print(order_all['order_accept_date'].min())
print(order_all['order_accept_date'].max())
print(order_all['delivered_date'].min())
print(order_all['delivered_date'].max())

2021-04-01 11:00
2021-06-30 21:58
2021-04-01 11:10
2021-06-30 23:01

In [45]:
order_data = order_all.loc[order_all['store_id'] != 999]
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
707701,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2
707702,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1
707703,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2
707704,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1
707705,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2

In [46]:
order_data = pd.merge(order_data, m_store, on = 'store_id', how = 'left')
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ
...,...,...,...,...,...,...,...,...,...,...,...,...
703881,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2,우치로점,GJ
703882,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1,조치원점,SJ
703883,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2,종로2점,SL
703884,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1,해안새벽시장길점,BS
703885,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2,연제로점,BS

In [47]:
order_data = pd.merge(order_data, m_area, on = 'area_cd', how = 'left')
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL,서울,서울
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL,서울,서울
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB,경기,경기북부
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS,부산,부산
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ,광주,광주
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703881,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2,우치로점,GJ,광주,광주
703882,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1,조치원점,SJ,세종,세종
703883,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2,종로2점,SL,서울,서울
703884,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1,해안새벽시장길점,BS,부산,부산
703885,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2,연제로점,BS,부산,부산

In [48]:
order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'delivery'
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'takeout'
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL,서울,서울,takeout
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL,서울,서울,delivery
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB,경기,경기북부,delivery
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS,부산,부산,delivery
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ,광주,광주,delivery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703881,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2,우치로점,GJ,광주,광주,delivery
703882,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1,조치원점,SJ,세종,세종,takeout
703883,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2,종로2점,SL,서울,서울,delivery
703884,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1,해안새벽시장길점,BS,부산,부산,takeout
703885,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2,연제로점,BS,부산,부산,delivery

In [49]:
order_data.loc[order_data['status'] == 0, 'status_name'] = '주문 접수'
order_data.loc[order_data['status'] == 1, 'status_name'] = '지불 완료'
order_data.loc[order_data['status'] == 2, 'status_name'] = '배달 완료'
order_data.loc[order_data['status'] == 9, 'status_name'] = '주문 취소'
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL,서울,서울,takeout,지불 완료
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL,서울,서울,delivery,배달 완료
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB,경기,경기북부,delivery,주문 취소
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS,부산,부산,delivery,배달 완료
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ,광주,광주,delivery,배달 완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703881,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2,우치로점,GJ,광주,광주,delivery,배달 완료
703882,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1,조치원점,SJ,세종,세종,takeout,지불 완료
703883,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2,종로2점,SL,서울,서울,delivery,배달 완료
703884,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1,해안새벽시장길점,BS,부산,부산,takeout,지불 완료
703885,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2,연제로점,BS,부산,부산,delivery,배달 완료

In [50]:
output_dir = os.path.join(current_dir, 'output_data')
os.makedirs(output_dir, exist_ok = True)

In [51]:
output_file = os.path.join(output_dir, 'order_data.csv')
order_data.to_csv(output_file, index = False)

In [56]:
df = pd.read_csv('output_data/order_data.csv')

In [57]:
df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1,자양로점,SL,서울,서울,takeout,지불 완료
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2,가마산로2점,SL,서울,서울,delivery,배달 완료
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9,화중로점,GB,경기,경기북부,delivery,주문 취소
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2,분포로점,BS,부산,부산,delivery,배달 완료
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2,하남산단점,GJ,광주,광주,delivery,배달 완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703881,17154702,157,C83348111,25,15969851,2021-06-30 21:58,2021-06-30 22:35,0,44620,2,우치로점,GJ,광주,광주,delivery,배달 완료
703882,49731888,185,C55784926,55,96862999,2021-06-30 21:58,2021-06-30 22:34,1,23280,1,조치원점,SJ,세종,세종,takeout,지불 완료
703883,93805252,79,C87712110,43,50807591,2021-06-30 21:58,2021-06-30 22:12,0,26150,2,종로2점,SL,서울,서울,delivery,배달 완료
703884,33290611,116,C83096347,59,91424716,2021-06-30 21:58,2021-06-30 22:31,1,35020,1,해안새벽시장길점,BS,부산,부산,takeout,지불 완료
703885,84666999,97,C55599659,94,99820440,2021-06-30 21:58,2021-06-30 22:41,0,23120,2,연제로점,BS,부산,부산,delivery,배달 완료